# Expose Astro dependencies for `pnpm` users
shamefully-hoist=true

# Configuration npm pour Netlify
engine-strict=false
legacy-peer-deps=true
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips