# Expose Astro dependencies for `pnpm` users
shamefully-hoist=true

# Configuration pour les builds
legacy-peer-deps=true
optional=false

# Configuration pour Sharp
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips

# Configuration npm pour Netlify
engine-strict=false

# Configuration pour Rollup
rollup_binary_host=https://npmmirror.com/mirrors/rollup
rollup_binary_host_mirror=https://npmmirror.com/mirrors/rollup