---
import { Image } from 'astro:assets';

interface Props {
  size?: 'sm' | 'md' | 'lg';
}

const { size = 'md' } = Astro.props;

const sizes = {
  sm: 'w-32',
  md: 'w-48',
  lg: 'w-64'
};
---

<div class={sizes[size]}>
  <Image
    src="/src/assets/images/ootb-logo-header.svg"
    alt="Out of the Books"
    class="w-full h-auto"
    width={256}
    height={64}
  />
</div> 
