---
import { Icon } from 'astro-icon/components';

export interface Props {
  label?: string;
  class?: string;
  iconName?: string;
}

const {
  label = 'Toggle Menu',
  class: className = 'flex flex-col h-12 w-12 rounded justify-center items-center cursor-pointer group',
  iconName = 'tabler:menu-2'
} = Astro.props;
---

<button type="button" class={className} aria-label={label} data-aw-toggle-menu>
  <span class="sr-only">{label}</span>
  <Icon name={iconName} class="w-6 h-6" />
</button>
